<div id="default-carousel" class="relative w-full min-h-90" data-carousel="slide">
    <div class="relative h-full overflow-hidden">
        <div class="duration-700 ease-in-out h-full" data-carousel-item>
            <img src="images/slider-1.webp"
                class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="shopping">

            <div class="absolute text-center w-full place-content-center h-full bg-black/70 top-0 z-40">
                <p class=" text-white text-3xl my-2 font-bold">New Trending</p>
                <button
                    class="px-3 py-1 mx-auto bg-gray-900 uppercase text-white border border-gray-900 hover:bg-gray-900/90 transition-all">
                    Products
                </button>
            </div>
        </div>
        <div class="hidden duration-700 ease-in-out h-full" data-carousel-item>
            <img src="images/slider-2.webp"
                class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="shopping">

            <div class="absolute text-center w-full place-content-center h-full bg-black/70 top-0 z-40">
                <p class=" text-white text-3xl my-2 font-bold">Latest Trending</p>
                <button
                    class="px-3 py-1 mx-auto bg-gray-900 uppercase text-white border border-gray-900 hover:bg-gray-900/90 transition-all">
                    Products
                </button>
            </div>
        </div>
    </div>


    <!-- Slider controls -->
    <button type="button"
        class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev>
        <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 1 1 5l4 4" />
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button"
        class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next>
        <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 9 4-4-4-4" />
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>


<!-- Categories -->
<div class="py-5 bg-gray-100">
    <div class="text-center mb-4">
        <p class="text-xl font-medium">Categories</p>
        <p class="text-gray-600 text-base">Select your favorite categories and purchase</p>
    </div>

    <div class="w-3/4 mx-auto">
        <owl-carousel-o [options]="categoriesOptions">
            @for(cat of categoriesList; track cat._id){
            <ng-template carouselSlide>
                <div class="group p-2 bg-gray-200 parent" routerLink="/categories/{{cat.name}}/{{cat._id}}">
                    <div class="p-2 bg-white cursor-pointer">
                        <div class=" overflow-hidden" style="height: 300px !important;">
                            <img [src]="cat.image"
                                class="transition-transform duration-300 h-full group-hover:scale-110 border border-gray-100"
                                [alt]="'shopping '+cat.name">
                        </div>
                    </div>
                    <div class="cursor-pointer">
                        <p class="text-center text-base font-bold text-gray-900">{{cat.name}}</p>
                    </div>
                </div>
            </ng-template>
            }
        </owl-carousel-o>

    </div>
</div>

<!-- Products -->
<div class="py-5">
    <div class="text-center mb-4">
        <p class="text-xl font-medium">Latest Products</p>
        <p class="text-gray-600 text-base">Select your favorite product and purchase</p>
    </div>

    <div class="w-3/4 mx-auto">
        <div class="w-3/4 mx-auto grid grid-cols-3">
            @for(product of productsList; track product._id){
            <div class="col-span-1">
                <img [src]="product.imageCover" [alt]="product.description">
            </div>
            }
        </div>
    </div>
</div>/