<div>
    <div class="w-3/4 mx-auto">
        <div class="my-3">
            <p class="text-xl font-semibold text-gray-900"><i class="fa-solid fa-shop text-emerald-800"></i>
                {{mainCatName}}</p>
        </div>

        <div class="grid grid-cols-3 gap-3">
            @for(cat of subCatList;track cat._id){
            <div class="col-span-1">
                <div class="">
                    <div class="border border-slate-300 text-left">
                        <img class="card-img-top w-full" src="images/subcatbg.jpg" alt="">
                        <div class=" p-3">
                            <h4 class="text-gray-900 text-lg font-medium">{{cat.name}}</h4>
                            <button class="card-text bg-green-950 text-white px-2 py-1" routerLink="/products">Shop
                                Now</button>
                        </div>
                    </div>
                </div>
            </div>
            }

            @if(subCatList.length == 0){
            <p class="text-gray-600"><i class="fa-solid fa-ban"></i> No subcategories exist</p>
            }
        </div>
    </div>
</div>